In [ ]:
#2257
#Hello World!를 출력하시오.

print('Hello World!')
print("Hello World!")


#10718
#두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.
print('강한친구 대한육군')
print('강한친구 대한육군')

#1000 
#두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
#첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
#첫째 줄에 A+B를 출력한다.
A,B=map(int,input().split())
print(A+B)


#1001
#두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
#첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
#첫째 줄에 A-B를 출력한다.

A,B= map(int,input().split())
print(A-B)

In [ ]:
#1008
#두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
#첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
#첫째 줄에 A/B를 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-9 이하이면 정답이다.

A,B = map(int, input().split())

print(A/B)

#10998
#두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
#첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

A,B = map(int,input().split())
print(A*B)

​

#10869
#두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
#두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
#첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

A,B = map(int,input().split())

print(A+B)
print(A-B)
print(A*B)
print(int(A/B))
print(A%B)

In [4]:
#2884
H,M = map(int, input().split())
if M > 44:
    print(H,M-45);
elif M< 45 and H>0:
    print(H-1,M+15)
else :
    print(23, M+15)

In [2]:
#2744
a = input()
print(a.swapcase())

TEST

In [3]:
#2338
A= int(input())
B= int(input())
print(A+B)
print(A-B)
print(A*B)

4
-2
3

In [5]:
#2438
N = int(input())
print( '*' *1)
print( '*' *2)
print('*' *N)

#=> 연결이 안되어서 실패

*
**
*********************************

In [6]:
N = int(input())
for i in range (1, N+1):
	print('*' * i)

*
**
***
****
*****