문자열

리스트, 튜플과 마찬가지로 Sequence형 자료구조를 가짐
문자열은 불변의 객체이다 

문자열의 생성
", ' 모두 구분 없이 사용하여 문자열을 생성할 수 있음

In [125]:
#작은 따옴표(') 사용 

'안녕하세요? 반갑습니다'

'안녕하세요? 반갑습니다'

In [126]:
#큰 따옴표(") 사용 

"안녕하세요? 반갑습니다"

'안녕하세요? 반갑습니다'

작은 따옴표 3개 혹은 큰 따옴표 3개를 써서 여러 줄의 문자열을 생성할 수 있음

In [127]:
sample = '''안녕하세요?
반갑 
습 
니
다. 
'''
sample

'안녕하세요?\n반갑 \n습 \n니\n다. \n'

In [128]:
sample = """안녕하세요?
반갑 
습 
니
다. 
"""
sample

'안녕하세요?\n반갑 \n습 \n니\n다. \n'

문자열 출력(포맷팅)

print(): 출력

In [129]:
print('옐로')

옐로

In [130]:
print('첫째', '그리고','둘째')

첫째 그리고 둘째

end 옵션으로 출력될 마지막 글자를 변경할 수 있음

In [131]:
print('여기까지!', end='end출력!')

여기까지!end출력!

sep 옵션으로 출력될 문자열 사이에 출력될 글자를 변경할 수 있음

In [132]:
print('문자1','문자2','문자3', sep='<구분>')

문자1<구분>문자2<구분>문자3

%를 사용한 출력

In [133]:
"안녕하세요? %s" % ('반갑습니다')

'안녕하세요? 반갑습니다'

In [134]:
'안녕하세요? %.3f' % (0.123456)

'안녕하세요? 0.123'

In [135]:
'안녕하세요? %d' % (12345)

'안녕하세요? 12345'

In [136]:
'안녕하세요? %c' % ('a')

'안녕하세요? a'

{}와 format를 사용한 출력

In [137]:
'웰컴투? {}'.format('파이썬.')

'웰컴투? 파이썬.'

In [138]:
'비밀번호 {}'.format(486)

'비밀번호 486'

In [139]:
#소수점 2자리까지 제한하는 경우(그 이하자리는 반올림)

'원주율? {: .2f}'.format(3.141592)

'원주율?  3.14'

f 문자열 포맷팅

In [140]:
name = '펭수'
age= 10
print(f'나의 이름은 {name}입니다. 나이는 {age}살 입니다')

나의 이름은 펭수입니다. 나이는 10살 입니다

In [141]:
print(f'내년에 저는 {age+1}살 입니다')

내년에 저는 11살 입니다

In [142]:
d= {'name':'펭수', 'age':10}

print(f"반가워요. 저는 {d['name']}입니다. 저의 나이는 {d['age']}살 입니다.")

반가워요. 저는 펭수입니다. 저의 나이는 10살 입니다.

문자열 길이

In [143]:
#영문
len('banana')

6

In [144]:
len('banana pen')

10

In [145]:
len('한글')

2

In [146]:
#공백은 길이에 포함 
len('한글 킹왕짱')

6

인덱싱(indexing)
문자열에서 한 개의 글자(char)를 조회하기 위해서는 []를 활용한 인덱싱으로 조회

In [147]:
a= 'Python is my life'
a

'Python is my life'

In [148]:
a[0]

'P'

In [149]:
a[-2]

'f'

슬라이싱 
슬라이싱의 활용: [start:stop:step]을 명시하여 부분을 추출할 수 있음

In [150]:
a[:]

'Python is my life'

In [151]:
a[3:]

'hon is my life'

In [152]:
a[-4:]

'life'

[:end]는 처음부터 end전까지 추출함

In [153]:
a[:6]

'Python'

In [154]:
a[:-3]

'Python is my l'

[start:end]는 start부터 end 전까지 추출함

In [155]:
a[3:6]

'hon'

In [156]:
a[::2]

'Pto sm ie'

In [157]:
a[::-1]

'efil ym si nohtyP'

불변 
문자열은 index를 통해 값을 수정 및 변경이 불가능함 

문자열의 덧셈과 곱셈 
연결: 문자열의 덧셈 
덧셈은 문자열을 연결함

In [158]:
a= '반갑습니다'
b= '파이썬 하이'

a+b

'반갑습니다파이썬 하이'

In [159]:
a + '?????'

'반갑습니다?????'

In [160]:
'hello'+', world'

'hello, world'

복제: 문자열의 곱셈 
문자열을 곱한 숫자만큼 반복하여 생성함

In [161]:
a*2

'반갑습니다반갑습니다'

In [162]:
print('abc' *5)
print('==='*7)

abcabcabcabcabc
=====================

문자열 list, set 

리스트(list)
문자열을 리시트(list)로 타입 변환이 가능 
타입 변환시 한 글자를 요소로 갖는 리스트가 생성됨

In [163]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

세트(set)
한 글자를 요소로 갖는 세트가 생성됨 
세트의 특성상 요소를 생성한 후 중복된 글자는 제거됨

In [164]:
set('AAAABBBBBCCCEEDD')

{'A', 'B', 'C', 'D', 'E'}

중복된 제거된 리스트로 생성하기 위해서는 list로 다시 타입변환

In [165]:
list(set('AAAABBBSBDBDBDBWW'))

['A', 'W', 'D', 'S', 'B']

문자열(텍스트)을 다루는 다양한 기능, 메서드(method)

문자열만 가지고 있는 고유의 편한 기능들이 있음

split():분리 
split은 문장을 특정 규칙에 의해 쪼개 주는 기능 
분리한 결과는 list형식으로 값을 return 받음

In [166]:
a= 'This is a pen'

기본 값으로 공백이 지정되어 있습니다. 
공백을 기준으로 분리하여 리스트로 반환함

In [167]:
a.split()

['This', 'is', 'a', 'pen']

기본 값인 공백에서 특정문자로 지정할 수 있음

In [168]:
a= 'This-is-a-pen'
a.split('-')

['This', 'is', 'a', 'pen']

In [169]:
aa = a.split('-')
aa

['This', 'is', 'a', 'pen']

aa에 반환된 리스트를 대입 후 index로 값을 조회할 수 있습니다.

In [170]:
aa[0]

'This'

In [171]:
aa[2]

'a'

In [172]:
aa[0] + aa[2]

'Thisa'

한글도 동일하게 적용됨

In [173]:
a= '한글한글한글은 졸려'

a.split()

['한글한글한글은', '졸려']

join(): 합치기 
결합하고자 하는 문자에 .join()안에 리스트를 지정하여 결합할 수 있음

In [175]:
'-'.join(['010',  '1234', '5678'])

'010-1234-5678'

In [176]:
'-'.join('ABCDE')

'A-B-C-D-E'

lower(), upper(): 소문자/대문자로 만들기

In [177]:
a= 'Many Many Many '

In [178]:
#소문자로 변경 

a.lower()

'many many many '

In [179]:
#대문자로 변경

a.upper()

'MANY MANY MANY '

startswith, endswith
시작과 끝이 맞는지 결과를 bool로 반환함

In [180]:
a = '01-sample.png'

startswith(): 시작하는 

지정한 문자열로 시작하면 True, 그렇지 않으면 False를 반환함

In [181]:
a.startswith('01')

True

In [182]:
a.startswith('02')

False

endswith():끝나는 
지정한 문자열로 끝나면 True, 그렇지 않으면 False를 반환

In [183]:
a.endswith('.png')

True

In [184]:
a.endswith('.jpg')

False

replace():문자열 바꾸기 
문자열에 replace(바꿀대상, 바꾸려는 문자열)을 지정하여 문자열을 지정

In [185]:
a = '01-sample.png'

In [186]:
a.replace('.png', '.jpg')

'01-sample.jpg'

반환값은 복사본, 원본에 변경사항이 바로 적용되지 않음

In [187]:
a

'01-sample.png'

In [188]:
new_a = a.replace('.png', '.jpg')

In [189]:
print(new_a)

01-sample.jpg

불필요한 공백 제거

In [190]:
a = '    01-sample.png                '
print(a)

    01-sample.png

lstrip() : 왼쪽 공백 제거
rstrip() : 오른쪽 공백 제거
strip() : 양쪽 공백 제거

In [191]:
a.lstrip()

'01-sample.png                '

In [192]:
a.rstrip()

'    01-sample.png'

In [193]:
a.strip()

'01-sample.png'