02 - 파이썬-리스트-튜플

시퀀스 - 리스트 - 순서가 있고, 가변  [1,2,3]

시퀀스 - 튜플 - 순서가 있고, 불변  (1,2,3)

세트 - 세트 - 순서가 없고 중복을 허용하지 않음  (1,2,3)

맵 - 딕셔너리  -순서가 없고 key/value 쌍으로 이루어짐 {'a':1, 'b':2, 'c':3}

#리스트?

데이터의 요소를 순차적으로 파악하는데 용이한 자료형 

리스트는 다양한 메서드(method) 혹은 함수를 지원, 메서드를 활용해서 요소를 추가,삭제 및 변경할 수 있음 

#메서드? 
객체가 포함하는 함수 또는 기능을 말함

In [1]:
list1= []
list1

[]

In [2]:
#리스트를 생성하면서 값을 포함해야함 
list = [1,2,32,45,5]
list

[1, 2, 32, 45, 5]

#list 규칙 
list는 다양한 type의 데이터를 집합으로 가짐 

list안에 list도 허용

list는 순서(order)개념이 존재

In [3]:
a = []

a =[1,2,3]
a

[1, 2, 3]

In [4]:
a= [1, 'rabbit', 3, 3.17, False]
print(a)

#리스트 안에 리스트 포함할 수 있음 
a= [1, 'rabbit', [1,2,3], 3, 3.17, False]
a

[1, 'rabbit', 3, 3.17, False]

[1, 'rabbit', [1, 2, 3], 3, 3.17, False]

#append(): 값 추가

In [5]:
list= []
list

[]

In [6]:
list.append(1)
list

[1]

In [7]:
list.append(7)
list.append(7)
list.append(7)
list.append(3)
list.append(5)
list.append(2)
list

[1, 7, 7, 7, 3, 5, 2]

#Sort(): 정렬

요소를 순서대로 정렬(오름차순)

sort()는 내부적으로 정렬

In [8]:
list= [1,9,4,5,2,1,8]
list.sort()
print(list)

[1, 1, 2, 4, 5, 8, 9]

역정렬 (reverse= True)

In [9]:
list = [1,9,4,5,2,1,8]
list.sort(reverse= True)
list

[9, 8, 5, 4, 2, 1, 1]

In [10]:
#reverse(): 역정렬 
list.reverse()
list

[1, 1, 2, 4, 5, 8, 9]

len(): 전체 항목의 개수 세기

In [11]:
list = [1,9,4,5,2,1,8]
len(list)

7

insert(): 값 추가

In [12]:
list.insert(1,100)
list

[1, 100, 9, 4, 5, 2, 1, 8]

remove(): 값 제거 

리스트에서 첫 번째 나오는 해당 값 삭제

In [13]:
list= [1, 1, 3,4,56, 9]
list.remove(1)
list

[1, 3, 4, 56, 9]

pop(): 요소 꺼내기 

x번째 요소를 돌려주고 해당 요소는 삭제

In [14]:
list.pop(1)

3

In [15]:
list

[1, 4, 56, 9]

del : 요소 삭제

In [16]:
list = [100,200,300,400]

del list[1]
print(list)
del list[2]
print(list)

[100, 300, 400]
[100, 300]

count(): 갯수 세기

In [17]:
a= [1,1,1,3,1,11,1,1,1,2,1,1,11]

a.count(1)
a.count(11)

2

extend(): 리스트 확장

In [18]:
a = [1,2,3]

a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [19]:
# +연산자 == extend()

a= [1,2,3]
a + [4,5]

[1, 2, 3, 4, 5]

인덱싱(indexing): 색인 

인덱스는 0번 부터 시작함

In [20]:
list = [1,2,3,4]

list[0]

1

In [21]:
list[1]

2

In [22]:
list[2]

3

In [23]:
list[3]

4

역순 인덱싱 , 마이너스 값

In [24]:
list[-1]

4

In [25]:
list[-4]

1

인덱스로 접근하여 값 바꿈

In [26]:
list= [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [27]:
print(list[0])
print(list[1])
print(list[-3])

1
2
3

In [28]:
list[-3]=300
list

[1, 2, 300, 4, 5]

중첩된 리스트 인덱싱 
- 중첩된 리스트에 대한 리스트는 중첩 인덱싱으로 접근

In [29]:
list=[['가','나','다'],[4,5,6],7,3,2]
list

[['가', '나', '다'], [4, 5, 6], 7, 3, 2]

1번째 리스트 요소 중 1번째 요소를 가져오기 위해서는 중첩 인덱싱으로 접근

In [30]:
list[1][1]

5

In [31]:
list[1][1] =99
list

[['가', '나', '다'], [4, 99, 6], 7, 3, 2]

슬라이싱(Slicing): 범위 추출

In [32]:
list= [100,200,300,400]

list[:]

[100, 200, 300, 400]

In [33]:
#[start:]는 시작 index 부터 끝까지 추출 
print(list[2:])
#[:end]는 처음부터 end전까지 추출 
print(list[-3:])
#[start:end]는 start부터 end전 까지 추출함 
print(list[1:3])

[300, 400]
[200, 300, 400]
[200, 300]

indexing에 step 활용하기 

list[start:stop:step]
 step은 몇칸씩 건너뛰는지에 대한 것

In [34]:

list = [100,200,300.500]

#2칸씩 건너뛰기 
list[::2]

[100, 300.5]

In [35]:
#역순출력 

list[::-1]

[300.5, 200, 100]

In [36]:
#역순 그리고 2칸씩 건너뛰기 
list[::-2]

[300.5, 100]

list 덧셈: list 확장

In [37]:
a= [1,2,3,4]
b= [5,6,7,8]

In [38]:
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
a= ['a','b','c']
b= ['d','e','f']

a+b

['a', 'b', 'c', 'd', 'e', 'f']

list 곱셈: list 반복

In [40]:
a= ['a','b','c']
b= [1,2,3,4]

a*2

['a', 'b', 'c', 'a', 'b', 'c']

In [41]:
b*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

튜플(tuple)
 리스트는 가변적 객체 
 튜플은 불변의 객체 

가변객체는 요소에 대한 수정, 삭제, 변경등이 가능 
불변의 객체는 요소에 대한 수정, 삭제, 변경등이 불가능 

생성 
 tuple(), ()
 혹은 ,로 생성할 수 있음 

()로 튜플을 생성할 수 있음

In [42]:
tuple= ()

tuple = (1,2,3)
tuple

(1, 2, 3)

In [43]:
#tuple()로 생성되는 경우 

tuple1= tuple([1, 2, 3])
tuple1


#why?오류뜨는지 이해가 안된다 하지만 tuple이 맞다는것

TypeError: 'tuple' object is not callable

In [ ]:
# ,로 생성 

tuple= 1,2,3
tuple

(1, 2, 3)

In [ ]:
#단일 요소를 생성할 때는 반드시 ,를 붙여줍니다 

mtuple =1, 
print(type(mtuple))
mtuple

<class 'tuple'>

(1,)

In [ ]:

mtuple =(1,) 
print(type(mtuple))
mtuple

<class 'tuple'>

(1,)

In [ ]:
mtuple =(1) 
print(type(mtuple))
mtuple

<class 'int'>

1

튜플 언패킹(unpacking)
튜플로 한 번에 여러 변수에 값을 한 번에 할당 할 수 있음

In [ ]:
a, b, c = 1,2,3

print(a)
print(b)
print(c)

1
2
3

튜플 자료형은 요소의 추가, 삭제, 변경을 허용하지 않습니다.

In [ ]:
mtuple= (1,2,3)
mtuple

(1, 2, 3)

In [ ]:
#요소를 조회하는 것은 가능 

mtuple[1]

2

튜플의 덧셈: 튜플의 확장

In [ ]:
a= (1,2)
b= (3,4)

a+b

(1, 2, 3, 4)

튜플 곱셈: 튜플의 반복

In [ ]:
a *3

(1, 2, 1, 2, 1, 2)

In [ ]:
#길이 파악하기 
len(mtuple)

3

In [ ]:
#list -> tuple로 전환 

a = [1,2,3,4]
a

[1, 2, 3, 4]

In [ ]:
type(a)

list

In [ ]:
b= tuple(a)


#type error가 왜 뜨는지 모르겠지만, list에서 tuple로 변경할때 list를 tuple로 감싸주면 
#튜플형태가 된다

TypeError: 'tuple' object is not callable

type error가 왜 뜨는지 모르겠지만, list에서 tuple로 변경할때 list를 tuple로 감싸주면 
튜플형태가 된다

가상환경에서의 작업에서 type error가 왜 발생하는지 찾아보아야겠다.

tuple -> list

In [44]:
a= (1,2,3,4)
a

(1, 2, 3, 4)

In [45]:
type(a)

tuple

In [46]:
b= list(a)

TypeError: 'list' object is not callable

type error가 왜 뜨는지 모르겠지만, list에서 tuple로 변경할때 list를 tuple로 감싸주면 
튜플형태가 되듯, tuple도 list로 변경할 때, tuple을 list로 감싸주면 된다

리스트로 type을 변경하면 , 요소의 추가 및 삭제가 가능하다 
요소를 추가 및 삭제한 후 다시 tuple로 변경할 수 있다.