#teddylee777/machine-learning의 자료구조 - 파이썬 연습 

세트(set)

- 세트는 순서가 보장되지 않는다
- 세트는 요소의 중복을 허용하지 않는다 
- 세트는 ()를 활용하여 생성할 수 있다

In [32]:
mset= set()
mset

set()

In [33]:
mset = set([1,2,3,4,5,4,5,2,3,1])
mset

{1, 2, 3, 4, 5}

In [34]:
mset= set((1,2,3,4,2,2,3,1,2))
mset

{1, 2, 3, 4}

In [35]:
#딕셔너리의 형태에 넣었으므로 딕셔너리형태로 출력된다
mset = {1,2,3,4,2,1,1,1,1,2}
mset

{1, 2, 3, 4}

add() : 값 추가 
set에 요소를 추가함

In [36]:
#빈 set 생성
mset=set()

In [37]:
#add()로 요소를 추가함 

mset.add(1)
mset.add(3)
mset.add(2)

mset.add(2)
mset.add(3)
mset.add(1)

잊지말자, set를 빼고 ()만 넣으면 튜플형태라는 것 
튜플은 순서가 있고 불변이라는 것...

In [38]:
mset

{1, 2, 3}

update(): 여러개 값 추가 
 여러개의 값을 한꺼번에 추가하고자 할 때는 update()메서드를 이용

In [39]:
mset= {1,2,3}

#list요소들을 한꺼번에 update
mset.update([2,4,5,6])
mset

{1, 2, 3, 4, 5, 6}

In [40]:
#tuple 요소들을 한꺼번에 update 

mset.update((7,8,9))
mset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
#set 요소들을 한꺼번에 update

mset.update({10,11,79})
mset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 79}

remove(): 값제거
 단일 요소를 제거함

In [42]:
mset= {1,2,3,4,5}
mset.remove(1)
mset

{2, 3, 4, 5}

교집합(intersection)
 집합 A와 B가 주어졌을 때, 공통된 요소를 말함 
  & 기호나 intersection() 메서드를 활용하여 교집합을 구할 수 있음

In [43]:
a= {1,2,3,4,5,6}
b= {7,8,9,1,2,3}

a&b

{1, 2, 3}

In [44]:
a.intersection(b)

{1, 2, 3}

합집합(union)
 집합 A와 B가 주어졌을 때, 집합 A,B요소를 모두 포함하는 것을 말함 

 | 기호 또는 union()메서드를 이용함

In [45]:
a= {1,2,3,4,5,6}
b= {3,4,5,1,2,9}

a|b

{1, 2, 3, 4, 5, 6, 9}

In [46]:
a.union(b)

{1, 2, 3, 4, 5, 6, 9}

차집합(difference)
 두 집합에서, 하나의 집합에 포함되고 다른 집합에는 포함되지 않는 모든 원소의 집합 
  - 연산자 활용 or differenc()메서드를 활용하여 구할 수 있음

In [47]:
a= {1,2,3,4,5,6}
b= {3,4,5,1,2,9}

a-b

{6}

In [48]:
a.difference(b)

{6}

In [49]:
b-a

{9}

In [50]:
b.difference(a)

{9}

집합의 타입 변환

In [51]:
#set를 list로 변환

a= {1,2,3,4,5,6}
type(a)

set

In [52]:
b= list(a)
b

[1, 2, 3, 4, 5, 6]

In [53]:
type(b)

list

In [54]:
#list를 set로 변환 
 #중복을 제거할 때 많이 활용함 

a= [1,2,3,4,5,2,2,2,1,2,6,7]
print(a)
type(a)

[1, 2, 3, 4, 5, 2, 2, 2, 1, 2, 6, 7]

list

In [55]:
b= set(a)
b

{1, 2, 3, 4, 5, 6, 7}

In [56]:
#b를 다시 list 자료형으로 변환 

b=list(b)
b

[1, 2, 3, 4, 5, 6, 7]

딕셔너리(dictionary)
 -순서를 가지지 않음 
 -키와 값의 쌍으로 이루어져있음 
 -type은 dict로 표시됨
 -key를 사용하여 값을 조회할 수 있음 
 -딕셔너리는 수정, 삭제, 추가가 가능

In [57]:
#생성 

mdict= dict()
print(type(mdict))
mdict

<class 'dict'>

{}

In [58]:
mdict = {'a':1, 'b':2 , 'c':3}
print(type(mdict))
mdict

<class 'dict'>

{'a': 1, 'b': 2, 'c': 3}

In [59]:
#딕셔너리는 여러 타입의 key를 가질 수 있음 

mdict= {'a':1, '가':2, 100:3, 2.1:4, True:5}
mdict

{100: 3, 2.1: 4, True: 5, 'a': 1, '가': 2}

In [60]:
#값 조회 key 값으로 값을 조회할 수 있음

mdict['a']

#원래 error뜰 내용이 아님..
# 1

1

In [61]:
#get()메서드를 활용하여 값을 조회

mdict.get('a')

#1

1

In [62]:
#get()을 사용하면 key가 없는 경우라도 Error가 발생하지 않습니다. 단지 None이 반환됩니다.

mdict.get('b')

keys(): 모든 key 조회

In [63]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [64]:
mydict.keys()

dict_keys(['a', 'b', 'c', 'd', 'e'])

dict_keys는 리스트(list)가 아님 
객체(object)로 생성되는데, 이를 list로 변경하기 위해서는 list()로 타입 변환을 하면 됨

values(): 모든 value조회

In [65]:
mydict.values()

dict_values([100, 200, 300, 400, 500])

items(): 모든 key, value 조회

In [66]:
mydict.items()

dict_items([('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)])

In [67]:
list(mydict.items())

[('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)]

key 값의 존재 유무 확인

In [68]:
'a' in mydict

True

In [69]:
'f' in mydict

False

값을 추가하기 
 새로운 key에 값을 대입하여 추가

In [70]:
mydict= dict()
mydict

{}

In [71]:
mydict['apple'] =123
mydict['apple']

123

In [72]:
mydict[0]=2
mydict[0]

2

update(): 다중 업데이트
 값을 한꺼번에 업데이트함

In [73]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [74]:
fruit = {
    '사과': 2000, 
    '딸기': 3000, 
    '수박': 5000, 
}

In [75]:
mydict.update(fruit)
mydict

{'a': 100,
 'b': 200,
 'c': 300,
 'd': 400,
 'e': 500,
 '딸기': 3000,
 '사과': 2000,
 '수박': 5000}

값 변경 
 key 값에 새로운 값(value)를 대입하여 값을 변경할 수 있음

In [76]:
mydict.update(fruit)
mydict

{'a': 100,
 'b': 200,
 'c': 300,
 'd': 400,
 'e': 500,
 '딸기': 3000,
 '사과': 2000,
 '수박': 5000}

In [77]:
mydict['a'] = 900
mydict

{'a': 900,
 'b': 200,
 'c': 300,
 'd': 400,
 'e': 500,
 '딸기': 3000,
 '사과': 2000,
 '수박': 5000}

제거하기/ key제거

In [78]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

del 값을 제거할 수 있음 
del에 딕셔너리 key를 지정함

In [79]:
del mydict['a']
mydict

{'b': 200, 'c': 300, 'd': 400, 'e': 500}

pop()에 key를 지정하여 값을 제거할 수 있음 
제거되는 값의 value를 반환함

In [80]:
mydict.pop('b')
mydict

{'c': 300, 'd': 400, 'e': 500}

len(): 요소의 개수 파악

In [81]:
len(mydict)

3

clear()- 전부삭제

In [82]:
mydict.clear()

In [83]:
mydict

{}