#teddylee777/machine-learning의 자료구조 - 파이썬 연습

In [1]:
#print(""), print('')
print('오늘 파이썬 배우기 좋은 날이네!')

오늘 파이썬 배우기 좋은 날이네!

In [2]:
print("오늘은","일요일")

오늘은 일요일

In [3]:
print(1,2,3,4)

1 2 3 4

In [5]:
#항상 마지막 값 출력 
3.14
'안녕'
100

100

In [6]:
3.14
100
'안녕'

'안녕'

In [7]:
100
'안녕'
3.14

3.14

변수? 데이터를 담는 그릇 

변수의 이름 규칙(Rule)

-소문자

-대문자

-숫자

-한글

-특수기호는 _(언더바)

규칙

-대소문자를 구분 

-숫자는 맨 처음 올 수 없음 

-예약어 사용불가 (def, if, del, ...등등)

In [15]:
a=2

In [16]:
A=1

In [19]:
a!=A

True

In [17]:
a==A

False

In [10]:
변수= 1

In [11]:
변수

1

In [21]:
#알파벳, 숫자
a1= 1

In [22]:
#알파벳 + 언더바(_)
a_=1

In [23]:
#언더바(_)+알파벳
_a=1

In [24]:
test = 10

In [25]:
test10 =20

In [26]:
test_01 =30

데이터 타입 (Data Type)

1. int (정수): Integer(정수)의 약어, 정수를 나타내는 자료형 

2. float(실수): Floating point의 약어, 소수점이 있는 숫자를 나타냄 

3. str(문자열): 문자를 나타내는 자료형, 작은 따옴표 또는 큰 따옴표로 감싸져 있음 

4. bool(참/거짓): 참 또는 거짓을 나타내는 자료형, True, False에서 T와 F는 반드시 대문자로 표기해야함

In [27]:
#type()함수을 통하여 데이터타입 확인 
 
print(type(1)) #Int
print(type(3.14)) #float 
print(type("안녕")) #str
print(type(True)) #bool

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [29]:
#int(정수)

a=1 
print(a) #1 
print(type(a)) #Int

1
<class 'int'>

In [32]:
#float(실수)

a= 3.14
print(a) #3.14
print(type(a)) #float

3.14
<class 'float'>

In [35]:
#str(문자열)

#작은 따옴표 ('')에 문자를 입력한 경우 

word = '안녕하세요'
print(word) #안녕하세요
print(type(word)) #str

안녕하세요
<class 'str'>

In [36]:
#큰 따옴표("")사이에 문자를 입력한 경우 

word = "안녕하세요"
print(word) #안녕하세요
print(type(word)) #str

안녕하세요
<class 'str'>

In [40]:
#여러 줄에 입력하고 싶을 때는?
#문장을 여러줄로 나누어 입력이 가능하다 

#작은따옴표 ''' 3개를 연속 
word = ''' 안녕
하 
세 
요
'''

print(word) 
# 안녕 
#하
#세
#요

print(type(word)) #str

 안녕
하
세
요

<class 'str'>

In [42]:
#큰따옴표 """ 3개를 연속 

word= """ 안녕
하
세
요
"""
print(word)
# 안녕
#하
#세
#요

print(type(word)) #str

 안녕
하
세
요

<class 'str'>

In [46]:
#bool (참/거짓)
#True ,False는 T와 F, 반드시 대문자로 표기 

a = False 
print(a) #False
print(type(a)) #bool

False
<class 'bool'>

In [53]:
#정수 1은 True
#정수 0은 False 
#파이썬에서의 같다는 == 기호로 사용 

1 == True
0 == False 

print(type(True)) #bool
print(type(1)) #Int
print(type(False)) #bool
print(type(0)) #int

<class 'bool'>
<class 'int'>
<class 'bool'>
<class 'int'>

In [54]:
print( 1 == True ) #True
print( 1 == False) #False 
print( 0 == True) #False
print( 1 == True) #True
print( 1 != True) #False
print(0 != True ) #True
print( 1 != False) #True 
print( 0 != False) #False

True
False
False
True
False
True
True
False

In [59]:
# None 타입 : 아무 것도 아닌 Null 값을 넣는다 
#NIll: Nullify(무효화하다)라는 뜻을 가지고 있음 
#python에서는 None

a= None
print(type(a)) #NoneType
print(a) #None

<class 'NoneType'>
None

In [62]:
#타입 변환 
#int -> float 

a= 1
print(type(a)) #int 

print(float(a)) #1.0

<class 'int'>
1.0

In [63]:
#float -> int 
b=3.99
print(int(b)) #3

3

In [65]:
#bool -> int 
c= True 
print(int(c)) #1 

d= False 
print(int(d)) #0

0

In [66]:
#bool -> float 

print(float(True)) #1.0

1.0

In [71]:
#파이썬에서 0이 아닌 값은 모두 True로 간주 

print(bool(1)) #True
print(bool(0.8)) #True
print(bool(0)) #False

True
True
False