함수(function)
-자주 사용되는 코드 및 반복되는 코드를 모아 하나의 기능으로 만들고 이름을 붙인것 
- 함수의 가장 중요한 기능?
  -코드의 재사용성

함수의 기본 구조?
def로 시작 
함수명을 기입 
()안에 매개변수를 지정할 수 있고, 생략도 가능 
끝에는 ;로 끝남 
함수의 범위 안에서는 들여쓰기를 함 
들여쓰기가 끝난 지점이 함수의 범위가 끝나는 지점

In [19]:
#일반형태
#입력, 매개변수: O
#return: O

def sample_function(a,b):
    reuslt = a + b
    return result

In [20]:
#입력 매개변수가 없는 형태 

def sample_function():
    a= 1
    b=2 
    result= a+b
    return result

In [21]:
#return이 없는 형태 
def sample_function(a,b):
    result = a+b
    print(f'result: {result}')

In [22]:
#입력 매개변수, return 모두 없는 형태 

def sample_function():
    print('Hello, World!')

함수의 이름 및 호출 
-함수의 이름은 알파벳이나 _로 시작해야함 
-함수의 지정된 이름과 ()로 호출할 수 있음

In [23]:
def sample_function():
    print('함수가 호출 되었습니다.')

In [24]:
#함수 이름만 출력시

sample_function

In [25]:
#함수를 호출
#호출(call): 함수의 이름과 함께 ()를 같이 실행

sample_function()

함수가 호출 되었습니다.

함수의 이름을 별도의 변수에 대입한 후 변수에 ()를 같이 실행한 경우

In [26]:
a= sample_function
a()

함수가 호출 되었습니다.

In [27]:
#return이 존재하는 경우 

def sample_function():
    print('함수가 호출 되었습니다!')
    return 123

return 값이 존재하는 경우 
함수는 결과 값을 반환하며, 반환된 결과를 변수에 대입할 수 있음

In [28]:
result= sample_function()

함수가 호출 되었습니다!

In [29]:
result

123

함수가 아무런 결과 값을 반환하지 않는다면 반환된 결과는 None일 것

In [30]:
# return이 없는 경우 

def sample_function():
    print('함수가 호출 되었습니다!')

In [31]:
result= sample_function()

함수가 호출 되었습니다!

In [32]:
print(result)

None

docstring
-함수에 대한 설명을 기록

In [33]:
def sample_function():
    """
    함수에 대한 설명을 기록하기
    sample_function은 함수를 설명하기 위한 예제 함수
    """
    print('함수가 호출 되었습니다')

In [34]:
sample_function()

함수가 호출 되었습니다

함수명.__doc__로 docstring을 출력할 수 있음

In [35]:
print(sample_function.__doc__)

    함수에 대한 설명을 기록하기
    sample_function은 함수를 설명하기 위한 예제 함수

함수의 인수(매개변수)

인수(argument): 값, 변수, 참조 등 전달되는 값

매개변수(parmeter): 함수 등에서 사용되는 전달된 값을 받는 변수

10,20 - 인수(argument)

a,b - 매개변수(parameter)

In [36]:
def some_fuction(a,b):
    result= a+b
    return result 

some_fuction(10,20)

30

위치 인수(postion arguments)
가장 보편적인 인수
변수명을 인수로 지정 
위치가 중요함 
a,b,c를 위치 인수로 지정한 경우

In [37]:
def add_fuction(a,b,c):
    result= a+b+c
    print(f'a:{a},b:{b},c:{c}')
    print(f'sum: {result}')
    return result

In [38]:
add_fuction(1,3,5)

a:1,b:3,c:5
sum: 9

9

키워드 인수(keyword arguments):
위치 인수의 위치를 정확히 기억하지 못하고 혼란을 야기할 수 있기에 인수명에 값을 
직접 지정함

In [39]:
def add_fuction(a,b,c):
    result= a+b+c
    print(f'a:{a}, b:{b},c:{c}')
    print(f'sum: {result}')
    return result

In [40]:
add_fuction(b=3,c=1,a=5)

a:5, b:3,c:1
sum: 9

9

기본 매개변수(default parameter)
매개변수에 기본 값을 지정할 수 있음 
기본 값을 지정시 인수에 값을 생략가능함 
단, 기본 값이 지정된 인수는 위치 인수보다 다음 위치해야함

In [41]:
def add_fuction(a,b=0,c=0):
    result= a+b+c
    print(f'a:{a}, b={b}, c={c}')
    print(f'sum: {result}')
    return result

In [42]:
add_fuction(1)

a:1, b=0, c=0
sum: 1

1

In [43]:
add_fuction(1,3)

a:1, b=3, c=0
sum: 4

4

In [44]:
add_fuction(1,3,5)

a:1, b=3, c=5
sum: 9

9

In [45]:
add_fuction(c=5, b=3, a=1)

a:1, b=3, c=5
sum: 9

9

기본 매개변수가 위치 인수보다 앞 쪽에 위치한 경우 Error가 발생함

In [46]:
def add_fuction(a=0, b, c):
    result= a+b+c
    print(f'a:{a}, b:{b}, c={c}')
    print(f'sum: {result}')
    return result

SyntaxError: non-default argument follows default argument (944190906.py, line 1)

*tuple 인수 
여러 개의 인수를 전달 받을 수 있습니다
여러 개의 인수를 전달 받은 *args에는 튜플(tuple)형식으로 데이터가 저장됨 
*args로 받은 인수는 반복문으로 처리하는 것이 일반적임 
대체적으로 *args 변수가 많이 사용됨

In [ ]:
def add_fuction(*args):
    result =0 
    print(f'args의 타입: {type(args)}')
    for arg in args:
        print(arg)
        result += arg 
    print('==='*5)
    print(f'sum: {result}')

In [ ]:
add_fuction()

args의 타입: <class 'tuple'>
===============
sum: 0

In [ ]:
add_fuction(1)

args의 타입: <class 'tuple'>
1
===============
sum: 1

In [ ]:
add_fuction(1,2,3,4,5)

args의 타입: <class 'tuple'>
1
2
3
4
5
===============
sum: 15

위치 매개변수와 *tuple 매개변수의 혼용 


*tuple 매개변수는 위치 매개변수의 뒤에 위치해야함

In [ ]:
def add_fuction(a, *args):
    print(f'a: {a}')
    print('==='*5)
    result = 0
    for arg in args:
        print(arg)
        result += arg 
    print('==='*5)
    print(f'sum: {result}')

아무런 값을 지정하지 않은 경우 

위치 매개변수 미지정으로 인한 Error 발생

In [ ]:
add_fuction(1)

a: 1
===============
===============
sum: 0

In [ ]:
add_fuction(1,2,3,4,5)

a: 1
===============
2
3
4
5
===============
sum: 14

**dict 인수 

여러 개의 인수를 전달 받을 수 있음 
여러 개의 인수를 전달 받은 **kwargs에는 딕셔너리(dict) 형식으로 데이터가 저장됨 
**kwargs로 받은 인수 역시 반복문으로 처리하는 것이 일반 적 
대체적으로 **kwargs 변수가 많이 사용됨

In [ ]:
def add_fuction(**kwargs):
    total_age = 0
    for name, age in kwargs.items():
        print(f'이름: {name}, 나이: {age}')
        total_age += age
    print('==='*5)
    print(f'전체 나이의 합계: {total_age}')

In [ ]:
add_fuction()

===============
전체 나이의 합계: 0

In [ ]:
add_fuction(lee=5)

이름: lee, 나이: 5
===============
전체 나이의 합계: 5

In [ ]:
add_fuction(john=10, peter=12, lee=5)

이름: john, 나이: 10
이름: peter, 나이: 12
이름: lee, 나이: 5
===============
전체 나이의 합계: 27

딕셔너리를 인수로 지정하는 경우 **를 앞에 붙혀줌

In [ ]:
person = {'john':10, 'peter':12, 'lee':5}
person

{'john': 10, 'peter': 12, 'lee': 5}

In [ ]:
add_fuction(**person)

이름: john, 나이: 10
이름: peter, 나이: 12
이름: lee, 나이: 5
===============
전체 나이의 합계: 27

lambda: 익명함수

이름 없이 정의된 함수 
단일 문장(1줄)의 코드로 작성되어야 함 
함수 내부에서는 return문이 포함하지 않지만 값을 반환함

In [ ]:
#단일 인수를 가지는 lambda 함수 

a= lambda x: x*2 
a(4)

8

In [ ]:
#2개의 인수를 가지는 lambda 함수 

a =lambda x,y : x * y
a(4,8)

32

In [ ]:
#lambda 함수 내부에서 조건문 사용 

a= lambda x, y: x*y if x>0 else y

In [ ]:
a(4,8)

32

In [ ]:
a(-1,8)

8

elif 구문을 억지로 생성할 수 있음 

복잡한 조건문을 사용하기 위햇는 일반적인 함수 사용을 권장함

In [ ]:
a= lambda x: x *10 if x<2 else (x**2 if x <4 else x +10)

In [ ]:
a(1)

10

In [ ]:
a(3)

9

In [ ]:
a(4)

14

내장함수(bulit-in fuction)

파이썬에는 이미 만들어진 내장함수가 존재함 
print(), type()이 파이썬이 대표적인 내장함수가 있다 
이 밖에도 유용한 몇 가지 내장함수를 알아보마

#map 
map(function, iterable)
map은 함수(f)와 순회 가능한(iterable) 자료형을 입력으로 받음 
map은 입력받은 자료형의 각 요소를 함수(function)가 수행한 결과를 돌려줌

In [ ]:
sample_data = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
#map만 실행시에 요소의 내용이 바로 출력되지 않음 

map(str, sample_data)

In [ ]:
#list()로 타입 변환하여 요소를 출력함 
list(map(str, sample_data))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
#map에 lambda 함수 적용
result = map(lambda x: x*2, sample_data)
list(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#map에 다중 인수를 지정 
reuslt  = map(lambda x: x*2, sample_data)
list(result)

[]

In [ ]:
#map에 다중 인수를 지정 
sample_data= [1,2,3,4,5,6,7,8,9,10]
sample_data2= [0,1,2,3,5,8,13,21,34,55]
list(map(lambda x, y: x+y, sample_data, sample_data2))

[1, 3, 5, 7, 10, 14, 20, 29, 43, 65]

In [ ]:
#list의 size가 다른 경우, 작은 size에 맞춰 생성 

sample_data= [1,2,3,4,5,6,7,8,9,10]
sample_data2= [1,1,1,10,100]

list(map(lambda x,y: x+y, sample_data, sample_data2))

[2, 3, 4, 14, 105]

#filter 
문법: filter(function, iterable)
filter 내장 함수는 값을 filter 할 때 사용합니다 
True인 값을 가지는 요소만 filter

In [ ]:
sample_data = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
#lambda함수를 지정한 경우 

result = filter(lambda x: True if (x % 2 == 1) else False, sample_data)
list(result)

[1, 3, 5, 7, 9]

In [ ]:
#함수를 선언하여 함수명으로 지정한 경우 
def three_multiple(x):
    if x % 3 == 0:
        return True
    else: 
        return False

In [47]:
#함수의 이름만 입력 
result = filter(three_multiple, sample_data)
list(reuslt)

#[3,6,9]가 출력되어야하는데 왜 ??

[]

#zip 

문법: zip(*iterable)
동일한 개수로 이루어진 자료형을 묶어 주는 역할을 함

In [48]:
sample_data = [1,2,3,4,5,6,7,8,9,10]
sample_data2= [0,1,2,3,5,8,13,21,34,55]
sample_data3= [5,6,7]

In [50]:
#sample_data, sample_data2을 zip으로 묶어준 경우 

result= zip(sample_data, sample_data2)
list(result)

[(1, 0),
 (2, 1),
 (3, 2),
 (4, 3),
 (5, 5),
 (6, 8),
 (7, 13),
 (8, 21),
 (9, 34),
 (10, 55)]

In [51]:
#sample_data, sample_data2, sample_data3을 zip으로 묶어준 경우 

#작은 size를 가지는 리스트(list)에 맞춰 생성함 

list(zip(sample_data, sample_data2, sample_data3))

[(1, 0, 5), (2, 1, 6), (3, 2, 7)]

zip의 응용

In [52]:
number= [1,2,3,4]
name=['홍길동','김철수','John','Paul']

In [54]:
number_name = list(zip(number,name))
number_name

[(1, '홍길동'), (2, '김철수'), (3, 'John'), (4, 'Paul')]

In [55]:
#zip을 활용한 dict 만들기 

number= [1,2,3,4]
name =['홍길동','김철수','John','Paul']
dic = {}

for number, name in zip(number,name):
    dic[number] = name

In [56]:
dic

{1: '홍길동', 2: '김철수', 3: 'John', 4: 'Paul'}

#enumerate 
enumerate(iterable, start=0)
순서가 있는 자료형을 입력받아 index를 포함하는 객체로 return

In [57]:
#일반 range()함수를 사용한 경우 

for value in range(1,10,2):
    print(value)

1
3
5
7
9

In [58]:
#enumerate()함수를 사용하여 index를 return 받은 경우

for idx, value in enumerate(range(1,10,2)):
    print(f'index: {idx}, value: {value}')

index: 0, value: 1
index: 1, value: 3
index: 2, value: 5
index: 3, value: 7
index: 4, value: 9